In [ ]:
# Verificação de versões dos pacotes usadas
import sys
import matplotlib
import plotly
print("Python version:", sys.version)
print("\nInstalled packages versions:")
print("pandas:", pd.__version__)
print("numpy:", np.__version__)
print("seaborn:", sns.__version__)
print("matplotlib:", matplotlib.__version__)
print("plotly:", plotly.__version__)

Python version: 3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]

Installed packages versions:
pandas: 2.3.3
numpy: 2.3.4
seaborn: 0.13.2
matplotlib: 3.10.7
plotly: 6.3.1

<a href="https://colab.research.google.com/github/rafaellccouto/pos_tech_dengue/blob/main/C%C3%B3pia_de_postech_aula_dengue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Postech: Dengue

In [18]:
#Analise dados Dengue
#Bibliotecas de manipulação de dados
import pandas as pd
import numpy as np
#Bibliotecas de visualização de dados
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
#Base de dados
df_dengue = pd.read_excel('Base de Dados Dengue.xlsx')

In [19]:
df_dengue.head()

               municipio  uf data_infeccoes  qtd_infeccoes
0  ALTA FLORESTA D'OESTE  RO     2013-01-01             34
1  ALTA FLORESTA D'OESTE  RO     2013-02-01             44
2  ALTA FLORESTA D'OESTE  RO     2013-03-01             15
3  ALTA FLORESTA D'OESTE  RO     2013-04-01              4
4  ALTA FLORESTA D'OESTE  RO     2013-05-01              3

In [20]:
df_dengue.tail()

       municipio  uf data_infeccoes  qtd_infeccoes
728767  BRASILIA  DF     2023-08-01            939
728768  BRASILIA  DF     2023-09-01            843
728769  BRASILIA  DF     2023-10-01            686
728770  BRASILIA  DF     2023-11-01           1300
728771  BRASILIA  DF     2023-12-01           5603

## Explorando a base de dados

In [21]:
print(f'Tamanho da base de dados: {df_dengue.shape}')

Tamanho da base de dados: (728772, 4)

In [22]:
df_dengue.dtypes

municipio                 object
uf                        object
data_infeccoes    datetime64[ns]
qtd_infeccoes              int64
dtype: object

### Existem dados nulos?

In [23]:
df_dengue.isnull()

        municipio     uf  data_infeccoes  qtd_infeccoes
0           False  False           False          False
1           False  False           False          False
2           False  False           False          False
3           False  False           False          False
4           False  False           False          False
...           ...    ...             ...            ...
728767      False  False           False          False
728768      False  False           False          False
728769      False  False           False          False
728770      False  False           False          False
728771      False  False           False          False

[728772 rows x 4 columns]

In [24]:
df_dengue.isnull().sum()

municipio         0
uf                0
data_infeccoes    0
qtd_infeccoes     0
dtype: int64

In [25]:
print(f'Quantidade de dados nulos: {df_dengue.isnull().sum().sum()}')

Quantidade de dados nulos: 0

### Informações sobre a base

In [26]:
df_dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728772 entries, 0 to 728771
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   municipio       728772 non-null  object
 1   uf              728772 non-null  object
 2   data_infeccoes  728772 non-null  datetime64[ns]
 3   qtd_infeccoes   728772 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 22.2+ MB

Veroficar valores únicos

In [27]:
df_dengue.nunique()

municipio         5243
uf                  27
data_infeccoes     132
qtd_infeccoes     1157
dtype: int64

### Quantidade de pessoas que pegaram dengue por município por ano

In [28]:
#Criar coluna ano
df_dengue['ano'] = pd.DatetimeIndex(df_dengue['data_infeccoes']).year

In [29]:
df_dengue.head()

               municipio  uf data_infeccoes  qtd_infeccoes   ano
0  ALTA FLORESTA D'OESTE  RO     2013-01-01             34  2013
1  ALTA FLORESTA D'OESTE  RO     2013-02-01             44  2013
2  ALTA FLORESTA D'OESTE  RO     2013-03-01             15  2013
3  ALTA FLORESTA D'OESTE  RO     2013-04-01              4  2013
4  ALTA FLORESTA D'OESTE  RO     2013-05-01              3  2013

In [30]:
infeccoes_municipio = df_dengue.groupby(['ano','municipio','uf'])['qtd_infeccoes'].sum().reset_index()

In [31]:
infeccoes_municipio.head()

    ano            municipio  uf  qtd_infeccoes
0  2013      ABADIA DE GOIAS  GO             52
1  2013  ABADIA DOS DOURADOS  MG              0
2  2013            ABADIANIA  GO             37
3  2013               ABAETE  MG            486
4  2013           ABAETETUBA  PA             15

In [32]:
infeccoes_municipio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60731 entries, 0 to 60730
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ano            60731 non-null  int32
 1   municipio      60731 non-null  object
 2   uf             60731 non-null  object
 3   qtd_infeccoes  60731 non-null  int64
dtypes: int32(1), int64(1), object(2)
memory usage: 1.6+ MB

### Agrupamento por estado e ano

In [33]:
infeccoes_estado = df_dengue.groupby(['ano','uf'])['qtd_infeccoes'].sum().reset_index()

In [34]:
infeccoes_estado.head()

    ano  uf  qtd_infeccoes
0  2013  AC           1663
1  2013  AL            704
2  2013  AM           4327
3  2013  AP            546
4  2013  BA          13417